<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 인터페이스명과 namespace를 동일하게 주어야 함 -->
<mapper	
	namespace="com.tis.plan.mapper.PlanMapper">
	<insert id="createPlan" parameterType="Plan">
		insert into plan(plan_no, user_no, plan_title, plan_about,
		place_no, direction_no, plan_wdate, plan_code)
		values(plan_seq.nextval,#{user_no},#{plan_title},#{plan_about},
		#{place_no:NUMERIC},#{direction_no:NUMERIC},sysdate,#{plan_code})
	</insert>
	<insert id="addPlace" parameterType="Plan">
		insert into plan(plan_no, user_no, place_no, direction_no)
		values(plan_seq.nextval,#{user_no},
		#{place_no:NUMERIC},#{direction_no:NUMERIC})
	</insert>
	<!-- <insert id="createPlan" parameterType="Plan">
		insert into plan(plan_no, user_no, plan_title, plan_about,
		place_no, direction_no, plan_wdate, plan_code)
		values(plan_seq.nextval,#{user_no},#{plan_title},#{plan_about},
		#{place_no:NUMERIC},#{direction_no:NUMERIC},sysdate, #{plan_code})
	</insert> -->
	<select id="planMyInfo" parameterType="int" resultType="Plan">
		select * from (select * from plan where user_no=#{user_no} order by plan_wdate desc) where rownum=1
	</select>
	<insert id="createPlanInfo" parameterType="Plan">
		insert into plan_Info(plan_info_no, plan_code, user_no, plan_join, plan_quit, share_ornot)
		values(plan_info_seq.nextval,#{plan_code},#{user_no},#{plan_wdate},null,#{share_ornot})
	</insert>
 <select id="getTotalCount" parameterType="int" resultType="int">
      select count(distinct plan_code) from plan
   </select>
   <select id="showPlan" parameterType="int" resultType="Plan">
   		select * from plan where user_no=#{user_no} order by plan_wdate desc
   </select>
   <select id="showPlanList" parameterType="Paging4" resultType="Plan">
   		select distinct user_no, plan_code, plan_title, plan_about, to_char(plan_wdate,'yy-mm-dd') plan_wdateStr 
   		from plan where rownum between #{start} and #{end} order by plan_code desc 
   </select>
</mapper>